{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div class="container">
            <div class="form-group">
                <label for="username">Login
                    <input type="text" id="username" name="_username" class="form-control" value="{{ lastUserName }}">
                </label>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe
                    <input type="password" class="form-control" id="password" name="_password">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
{% endblock %}
