{% block body %}
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Se connecter</h4>
                </div>
                <div class="modal-body">
                    {% include '/security/form.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_valid_login_form" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}