{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block body %}
    <h1>Roles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>NomRole</th>
                <td>{{ role.nomRole }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('roles_index') }}">back to list</a>

    <a href="{{ path('roles_edit', {'id': role.id}) }}">edit</a>

    {{ include('roles/_delete_form.html.twig') }}
{% endblock %}
