<div class="card mb-2">
    <img class="card-img-top" src="{{ bien.imageCreation }}" alt="">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('creation_show',{'id':bien.id}) }}">{{ bien.nomCreation }}</a>
        </h5>
        <p class="card-text">
            <small>({{ bien.dateCreation | date('d/m/Y')}})</small></p>
        <div class="text-primary">
            {{ bien.prixCreation }} €
        </div>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
</div>