{% extends 'base.html.twig' %}
{% block title 'Mes créations' %}
{% block body %}

    <div class="container">
        {{ form_start(form) }}
        <div class="form-inline row  row-cols-5 mb-4">
            <div class="col">{{ form_widget(form.prixMin) }}</div>
            <div class="col">{{ form_widget(form.prixMax) }}</div>
            <div class="col">{{ form_widget(form.nomCreation) }}</div>
            
                <button class="btn btn-primary btn-sm btn-petit">Rechercher</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div>
        <h3>Mes créations <small>({{ creations.getTotalItemCount }})</small></h3>
    </div>
    <div class="container">
        <div class="row">
            {% for bien in creations %}
                <div class="col-md-3">
                    {% include '/Creations/_biens.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(creations) }}
        </div>
    </div>
{% endblock %}