{% extends 'base.html.twig' %}
{% block title creations.nomCreation %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="border: 1px dashed black; overflow: hidden;">
                    <img src="http://placehold.it/800x200" alt="">
                </div>
                <div class="col-md-4">
                    <h1>{{ creations.nomCreation }}</h1>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold;">{{ creations.prixCreation }} €</div>
                    <a href="#" class="text-center btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>{{ creations.descriptionCreation | nl2br }} </p>
    </div>
{% endblock %}