<div class="card mb-2">
    <img class="card-img-top" src="http://placehold.it/100x50" alt="">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('matiere_show',{'id':bien.id}) }}">{{ bien.nomMatiere }}</a>
        </h5>
        <div class="text-primary">
            {{ bien.descriptionMatiere }}
        </div>
    </div>
</div>