{% extends 'base.html.twig' %}
{% block title 'Mes matières' %}
{% block head %}
{% endblock %}
{% block body %}
    <div>
        <h3>Mes matières</h3>
    </div>
    <div class="container">
        <div class="row">
            {% for bien in matieres %}
                <div class="col-md-3">
                    {% include '/matiere/_biens.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}