{% extends 'base.html.twig' %}
{% block title matiere.nomMatiere %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="border: 1px dashed black; overflow: hidden;">
                    <img src="http://placehold.it/800x200" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>{{ catieres.descriptionMatiere | nl2br }} </p>
    </div>
{% endblock %}