{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row text-center col-sm">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
