{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h3><small>Modification</small></h3>
    <div class="container">{{ include('user/admin/_form.html.twig', {'button_label': 'Modification'}) }}
    </div>
    <div class="col-md-12 row">
        <!--<div class="text-center col-sm-4 bord_sans_marges"><button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer les modifications') }}</button></div>-->
        <div class="text-center col-sm-4 bord_sans_marges"><a class="btn btn-primary" href="{{ path('user_index') }}">Retour</a></div>
        <div class="text-center col-sm-4 bord_sans_marges">{{ include('user/admin/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}
