{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="container">
    <h3><small>Gestion des utilisateurs</small></h3>
    <table width="100%" cellspacing="0" cellpadding="0" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Ddn</th>
            <th>Login</th>
            <th>Email</th>
            <th class="text-center">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nomUser }}</td>
                <td>{{ user.prenomUser }}</td>
                <td>{{ user.ddnUser ? user.ddnUser|date('d/m/Y') : '' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.emailUser }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                <td class="text-center" width="30%">
                    <a class="bord_sans_marges col-md-5 btn btn-info btn-petit btn-trans" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a class="bord_sans_marges col-md-5 btn btn-danger btn-petit btn-trans" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row text-center col-md-6 offset-5">
        <a class="btn btn-primary btn-trans arrondi" href="{{ path('user_new') }}">Nouvel utilisateur</a>
    </div>
</div>

{% endblock %}
