{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h3><small>Création</small></h3>
    {{ include('user/admin/_form.html.twig') }}
    <div class="row text-center col-sm-12">
        <div class="col-sm-6 bord bord_sans_marges"><button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button></div>
        <div class="col-sm-6 bord bord_sans_marges"><a href="{{ path('user_index') }}">Retour</a></div>
    </div>

{% endblock %}
