{{ form_start(form) }}
    <div class="row form-group">
        <div class="col-md-6 from-group">{{ form_row(form.nomCreation) }}</div>
        <div class="col-md-2 from-group">{{ form_row(form.prixCreation) }}</div>
        <div class="col-md-2 from-group">{{ form_row(form.typeMatiere) }}</div>
    </div>
<div class="col-md-12 from-group">{{ form_row(form.descriptionCreation) }}</div>
<div class="col-md-12 from-group">{{ form_row(form.imageCreation) }}</div>
    <div class="col-md-12 from-group">{{ form_errors(form) }}</div>
<div><button class="btn btn-primary">{{ button|default('Créer') }}</button></div>
{{ form_end(form) }}
