{% extends 'base.html.twig' %}
{% block title 'Admin' %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
        <h1>GÉRER LES CREATIONS</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for bien in creations %}
                <tr>
                    <td><a href="{{ path('creation_show',{id: bien.id}) }}">{{ bien.nomCreation }}  ({{ bien.prixCreation }}€)</a></td>
                    <td>
                        <a href="{{ path('creation_edit', {id: bien.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('creation_delete', {id: bien.id}) }}"
                              style="display: inline-block;"
                              onsubmit="return confirm('Êtes vous sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('creation_new') }}" class="btn btn-primary">NOUVEAU BIEN</a>
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function(){
                $(".alert-success").delay(2000).slideUp(300);
            });
        </script>
    {% endblock %}
{% endblock %}