{% extends 'base.html.twig' %}
{% block title 'Editer une création' %}
{% block body %}
    <div class="container">
        <h3>ÉDITION</h3>
        {{  include ('Creations/admin/_form.html.twig',{form: form, button: 'Editer'})  }}
    </div>
{% endblock body %}