{% extends 'base.html.twig' %}
{% block title 'Ajouter une création' %}
{% block body %}
    <div class="container">
        <h3>AJOUT</h3>
    {{  include ('Creations/admin/_form.html.twig',{form: form, button: 'Ajouter'})  }}
    </div>
{% endblock %}