{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="container">
            <div class="form-group">
                <label for="nomUser">Login
                <input type="text" id="username" name="_username" class="form-control" value="{{ lastUserName }}">
                </label>
            </div>
            <div class="form-group">
                <label for="passwordUser">Mot de passe
                    <input type="text" class="form-control" id="password" name="_password">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
{% endblock %}
