{{ form_start(form) }}
    <div class="col-md-12 form-group">{{ form_row(form.nomMatiere) }}</div>
    <div class="col-md-12 from-group">{{ form_row(form.descriptionMatiere) }}</div>
    <div class="col-md-12 from-group">{{ form_errors(form) }}</div>
<div><button class="btn btn-primary">{{ button|default('Créer') }}</button></div>
{{ form_end(form) }}
