<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" />
            <!-- <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">-->
            <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
            <style>
                .sans_marges    {   margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top : 0px;
                                    margin-bottom: 0px; }
                .bord_rouge     {   border : 1px;
                                    border-color: darkred;
                                    border-style: solid;}
                .bord_bleu      {   border : 1px;
                                    border-color: dodgerblue;
                                    border-style: solid;}
                .bord_gauche    {   border-left : 1px;
                                    border-left-style: solid;}
                .bord_gris_clair{   border : 1px;
                                    border-color: lightslategray;
                                    border-style: dashed;}
                .btn-petit      {   font-size: 9px; padding: 5px 12px;}
                .arrondi        {   border-radius: 8px;}
                .rond           {   border-radius: 50%;}
                .btn-trans      {   -webkit-transition-duration: 0.4s; /* Safari */
                                    transition-duration: 0.4s;}
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <!-- is_granted("ROLE_ADMIN") -->
            <a class="navbar-brand" href="{{ path('home') }}">Ash Studio {% if app.user.typeRole is defined %} <small>{{ app.user.typeRole.nomRole  }}</small>{% endif %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if rubrique is defined and rubrique=='INDEX' %}active{% endif %}"
                           href="{{ path('ash_studio') }}">Mes créations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if rubrique is defined and rubrique=='PANIER' %}active{% endif %}"
                           href="#panier">Mon panier</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if app.user.typeRole is defined and app.user.typeRole.id > 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Interface de gestion</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item {% if rubrique is defined and rubrique=='NEW' %}active{% endif %}"
                                   href="{{ path('creation_admin') }}">Gérer les créations</a>
                                <a class="dropdown-item {% if rubrique is defined and rubrique=='NEW_MATIERE' %}active{% endif %}"
                                   href="{{ path('matiere_admin') }}">Gérer les matières</a>
                                {% if app.user.typeRole.nomRole == 'SUPER_ADMIN' %}
                                    <a class="dropdown-item {% if rubrique is defined and rubrique=='NEW_USER' %}active{% endif %}"
                                       href="{{ path('user_index') }}">Gérer les utilisateurs</a>
                                    <a class="dropdown-item {% if rubrique is defined and rubrique=='NEW_USER' %}active{% endif %}"
                                       href="{{ path('roles_index') }}">Gérer les roles</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
                        {% else %}
                            <!--<a href="#" id="btn_modal" class="nav-link" data-toggle="modal" data-target="#myModal">Se connecter</a>-->
                            <a href="{{ path('login') }}" id="btn_modal" class="nav-link">Se connecter</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
        {% include '/security/modal.html.twig' %}
        {% block body %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        {% block javascripts %}
            <script type="text/javascript">
                $(document).ready(function()
                {
                    $(".alert").delay(3000).slideUp(500);
                    /*$('#btn_modal').click(function ()
                    {
                        console.log('click btn_modal');
                        //Afficher Le titre de popup
                        var url = '{{ path('login') }}';
                        $.ajax({
                             type: 'post',
                             url: url,
                             success: function (code_html, status)
                             {
                                 alert('success'+'\n'+code_html);
                                 $('#btn_valid_login_form').click(function ()
                                 {
                                     var data = $("[name='post']").serialize();
                                     $.ajax({
                                         type: 'post',
                                         url: '{{ path('login') }}',
                                         data: data
                                     });
                                    $('#myModal').modal("hide");
                                 });
                                 // $('#modal_detail').html(data);
                                 //Affichage de nouvelle popup
                             }
                         });
                    });/**/
                });
            </script>
            {% endblock %}
    </body>
</html>
