{% extends 'base.html.twig' %}
{% block body %}
    <div id="calendar-holder"></div>
    <div class="jumbotron">
        <div class="container">
            <h1>Charlotte Ash Studio</h1>
        </div>
    </div>
    <div class="container">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores aspernatur cumque debitis distinctio dolorem doloribus ducimus, itaque maxime neque, optio porro quo veniam! Amet consequuntur ea ipsum modi similique!</span><span>Ad adipisci autem debitis dicta dolorem ea est fugiat labore libero magnam maiores molestiae odio officia optio perspiciatis recusandae reiciendis sapiente suscipit, tenetur totam ut vel veniam. Eaque, incidunt veniam.</span><span>Animi culpa debitis dicta ducimus error itaque nam quae similique! Atque, et excepturi ipsam minus omnis quis velit. Ad amet animi enim eos iste maiores, officiis pariatur quod saepe veritatis.</span><span>Alias assumenda commodi consectetur corporis dignissimos eius eveniet fugiat incidunt iure laboriosam nesciunt nihil nobis nulla possimus provident quisquam ratione recusandae repellat sint, veniam! Aliquid dicta iste itaque laborum quas.</span></p>
    </div>
{% endblock %}