{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h3>{{ user.prenomUser }} {{ user.nomUser }} {% if app.user.roles=='ROLE_ADMIN' %}<small>Administrateur</small>{% endif %}</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>DDN</th>
                <td>{{ user.ddnUser ? user.ddnUser|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LOGIN</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td>{{ user.emailUser }}</td>
            </tr>
            <tr>
                <th>ROLE</th>
                <td>{{ user.typeRole.nomRole|trans }}</td>
            </tr>
            <tr class="alert {% if user.password %}
                        alert-success"><td colspan="2">Utilisateur validé</td>
                {% else %}
                    alert-danger"><td colspan="2">Utilisateur non valide</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div class="container row">
        <a class="btn btn-primary" href="{{ path('user_index') }}">Retour</a>
        <a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
        {{ include('user/admin/_delete_form.html.twig') }}
    </div>
{% endblock %}
